doctype html
html
  head
    title Patient Guidance System
    block scripts
    block style 
  body
    block content
        nav#navbar
        ul
            div#logo
                img(src="/static/img/1.jpg")
                
                     
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Login/Signup]
            li #[a(href="/") Contact Us]
    block foot