extends base.pug

block scripts 
  script(src="/static/index.js") 

block style 
    style
      include ../static/style.css
      include ../static/stylecontact.css

block content 
    nav#navbar
        ul
            div#logo
                img(src="/static/img/PGS_logo.jpg")
                
                     
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/login") Login]
            li #[a(href="/contact") Contact Us]
             li #[a(href="/registration") Registration]
    div.container   
        h1 GET YOURSELF REGISTERED HERE
        form(action="/registration",method="post",class="myform") 
            input(type="text",class="myInput",name="name",placeholder="Enter your Full name")
            input(type="gender",class="myInput",name="gender",placeholder="Enter your Gender")
            input(type="age",class="myInput",name="age",placeholder="Enter your Age")
            input(type="email",class="myInput",name="username",placeholder="Enter your Email-id")
            input(type="password",class="myInput",name="password",placeholder="Create your Password")
            button(class="btn")
                |Submit

    
block foot 
    footer#footer
        | Copyright © 2019 PatientGuidanceSystem.com | All Rights Reserved